:root {
    --navbar-bg-light-green: #2eb72e;
    --navbar-bg-dark-green: #1b761b;
    --main-page-bg: #aedbae;
    --heading-bg: #529352;
}

/* Text */
h1, h2, h3 , h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

p {
    font-family: 'Jura', sans-serif;
}

/* Styles for applying to the brand name in navbar of portfolio */
.navbar-brand {
    display: flex;
    flex-direction: column;
    font-size: unset;
    font-style: italic;
}

.navbar-brand img {
    width: 3.5em;
    height: 3em;
}

.navbar {
    background: repeating-linear-gradient(30deg, var(--navbar-bg-light-green) 0%, var(--navbar-bg-dark-green) 5%, var(--navbar-bg-light-green) 10%);
}

/* Aligning all the links to the right in the navbar for medium/larger screens. */
#navbarNavAltMarkup {
    justify-content: end;
}

/* The dropdown list items (from the hamburger menu) in smaller screens are aligned to the end of the page. */
.navbar-nav {
    align-items: flex-end;
}

.nav-item {
    font-weight: bold;
    font-size: larger;
}

/* Changing the background colour and giving a hover effect for all the nav items */
.nav-item:hover {
    background-color: var(--navbar-bg-light-green);
    padding: 15px;
    border-radius: 10px;
}

/* This is to set the background colour for the whole hero banner and the page*/
.pageWrapper{
    background-color: var(--main-page-bg);
}

.hero-banner, 
.contentHeroBanner,
.headingStyle{
    background-color: var(--heading-bg);
}

/* headingStyle class is used to style all the headings of different sections in the website */
.headingStyle {
    font-weight: bold;
    font-size: x-large;
}

.contentHeroBanner {
    width: 85%;
}

#profilePicture {
    border-radius: 60px;
    width: 150px;
    height: 200px;
}

.pictureContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Slightly decreasing the font size of portfolio name */
.display-4 {
    font-size: 3rem;
}

/* To make any parent class to be a flex container and use it to center the items */
.flexClass {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Making the height of the image relative to fit in the container */
.card-img-top {
    height: 15rem;
}

/* Styles customised for the Skills section */
.skillsList .list-group-item:nth-child(even) {
    background-color: #c8c8c8;
}

.skillsList {
    font-weight: bold;
}

/* This class is used to select the whole text in Contact section for each list item */
.selectText {
    user-select: all;
}

/* Styling the footer section */
footer {
    background-color: darkcyan;
    padding: 20px;
}

footer .container {
    display: flex;
    justify-content: space-evenly;
}

/* Displays a shadow for all the buttons in footer upon hover */
.footerButton:hover {
    
    box-shadow: 5px 5px 10px rgba(17, 36, 36, 0.7);
}

/* This class increases the font size for text contained in the first project */
.incFontSize {
    font-size: 1.25em;
}